main {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(40vw,1fr) 2fr;
}
.intro {
    background-color: var(--dark-blue);
    color: var(--light-white);
    padding: 2rem 1.5rem;
}
.intro .logo {
    display: flex;
    align-items: center;
}
.logo__icon {
    height: max(5vmax,40px);
    width: max(6vmax,45px);
}
.logo__name {
    font-weight: bold;
    font-size: 2rem;
}
.intro .intro__title {
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: bold;
}
.intro .intro__description {
    color: var(--light-grey);
}
.how-to-use-btn {
    text-decoration: none;
    background: var(--light-white);
    padding: 10px;
    border-radius: 5px;
    color: var(--dark-blue);
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 2rem;
    transition: all 400ms ease-in-out;
}
.how-to-use-btn:hover {
    background: #aaa;
    transition: all 400ms ease-in-out;
}
.how-to-use-btn:active {
    transform: scale(0.9);
}
.forms {
    background: var(--light-white);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 6rem 4rem;
    overflow: hidden;
    position: relative;
}
.cards {
    padding: 1.5rem 0;
    width: 100%;
    /* height: 100%; */
    transition: transform 600ms cubic-bezier(.15,.3,.14,1.36),opacity 200ms cubic-bezier(.15,.3,.14,1.36),width 400ms cubic-bezier(.15,.3,.14,1.36);
}
.card {
    display: flex;
    width: 100%;
    max-width: 700px;
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 600ms cubic-bezier(.15,.3,.14,1.36),box-shadow 600ms cubic-bezier(.15,.3,.14,1.36);
}
.card:hover {
    /* background: rgba(0, 0, 0, 0.09); */
    box-shadow: none;
    transition: background 600ms cubic-bezier(.15,.3,.14,1.36),box-shadow 600ms cubic-bezier(.15,.3,.14,1.36);
}
.card p {
    margin-left: 1.5rem;
}
.card .icon {
    background: var(--light-white);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.go-left {
    transform: translateX(-100vw);
    opacity: 0;
    /* flex: 1; */
    width: 0;
    transition: transform 600ms cubic-bezier(.15,.3,.14,1.36),opacity 200ms cubic-bezier(.15,.3,.14,1.36),width 600ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp {
    width: 100%;
    transition: transform 600ms cubic-bezier(.15,.3,.14,1.36),opacity 200ms cubic-bezier(.15,.3,.14,1.36),width 600ms cubic-bezier(.15,.3,.14,1.36);
}
.go-right {
    transform: translateX(100vw);
    height: 100%;
    width: 0;
    opacity: 0;
    /* flex: 1; */
    /* width: 100%; */
    transition: transform 600ms cubic-bezier(.15,.3,.14,1.36),opacity 200ms cubic-bezier(.15,.3,.14,1.36),width 600ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.form-input input {
    padding:15px 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    outline: none;
    font-size: 1rem;
    transition: border 200ms cubic-bezier(.15,.3,.14,1.36);
}
.form-input input:focus {
    border: 1px solid var(--dark-blue);
    transition: border 200ms cubic-bezier(.15,.3,.14,1.36);
}

.signUp .form button {
    margin-top: 1rem;
    padding: 1rem;
    background: var(--dark-blue);
    color: var(--light-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form button:hover {
    background: rgba(29, 29, 98, 0.6);
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form button:active {
    transform: scale(0.98);
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.forms .help {
    position: absolute;
    bottom: 50px;
    right: 30px;
}

@media(max-width:650px) {
    main {
        grid-template-columns: 1fr;
        height: 180vh;
    }
    .forms {
        padding-top: 3rem;
        height: 100%;
    }
    .forms .help {
        bottom: 20px;
    }
} 

.how-to-use {
    margin: 2rem;
}
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}