html {
    overflow: hidden;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    background: var(--light-white);
}
.login {
    width: calc(100% - 2rem);
    max-width: 500px;
}
button {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    background: var(--dark-blue);
    color: #eee;
    cursor: pointer;
    transition: all 400ms;
}
button:hover {
    background: rgba(29, 29, 98, 0.6);
    transition: all 400ms;
}
button:active {
    transform: scale(.9);
    transition: all 400ms;
}