@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rowdies&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
    outline: none;
}
*::-webkit-scrollbar-thumb {
    background: var(--interactive-muted);
    border-radius: 10px;    
}
*::-webkit-scrollbar {
    background: var(--background-tertiary);
    width: 10px;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a {
    color: var(--color-accent);
}

:root {
    --light-white:#eae6f6;
    --dark-blue:#1E1E64;
    --light-grey:#8B8CB2;
    --light-blue:#24A5F4;
    --dark-pink:#CA3185;
    --dark-grey:#7C7C94;
    --black:#222;
    --light-black:#333;
    --dark-skin:#f5cac3;
    --light-skin:#f7ede2;
    --splash-screen: #202225;
    --color-accent: #7289da;
    --color-success: #43b581;
    --color-danger: #f04747;

    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;

    /* --animation-function: cubic-bezier(.15,.3,.14,1.36); */
    --animation-function: cubic-bezier(.15,.3,.04,1.09);
}