main {
    display: grid;
    grid-template-columns: minmax(40vw,1fr) 2fr;
    position: relative;
    background: var(--background-primary);
    overflow: hidden;
    height: 120vh;
}
section {
    background: var(--background-secondary);
    padding-top: 3rem;
    position: relative;
    z-index: 1;
}
section > img {
    width: 100vw;
    position: absolute;
    top: -120px;
}

@media(max-width: 850px) {
    main {
        grid-template-columns: 1fr;
        height: 100%;
    }
}
@media(max-width: 600px) {
    section > img {
        top: -120px;
    }
}
@media(max-width: 1200px) {
    section > img {
        height: 300px;
    }
}