<div id="wrap">
  <div>
    <h1>Reliable tech for storing files</h1>
    <p>
      Work with files so easily with easy and good use interface. More over many
      features like converting files, compressing the file, sharing file with
      security.
    </p>
  </div>
  <div>
    <h1>Ready to start your journey?</h1>
    <a routerLink="/signup">
      Get Started with Buckiee
      <span style="font-size: 1.2rem; margin-left: 0.8rem; font-weight: bold"
        >→</span
      >
    </a>
  </div>
</div>
