<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="./card1.css">
</head>
<body>
    
    <div class="game">

        <div class="rank">1</div>
        
        <div class="front">
            <img class="thumbnail" src="../images/game4.jpg" alt="Game">
            <h3 class="name">Game name</h3>
            <div class="stats">
                <p class="viewers">987.2k</p>
                <div class="streamers">
                    <img src="../images/one.jpg" alt="One">
                    <img src="../images/two.jpg" alt="Two">
                    <img src="../images/three.jpg" alt="Three">
                </div>
            </div>
        </div>

        <div class="back">
            <div class="streaming-info">
                <p class="game-stat">55k<span>Watching</span></p>
                <p class="game-stat">25.8k<span>Streams</span></p>
            </div>
            <button class="btn">See more Streams</button>
            <div class="streamers">
                <div class="streamer">
                    <div class="icon">
                        <img src="../images/one.jpg" alt="">
                    </div>
                    <p class="name">Gamer 1</p>
                    <p class="number">365.2k</p>
                </div>
                <div class="streamer">
                    <div class="icon">
                        <img src="../images/two.jpg" alt="">
                    </div>
                    <p class="name">Gamer 2</p>
                    <p class="number">365.2k</p>
                </div>
                <div class="streamer">
                    <div class="icon">
                        <img src="../images/three.jpg" alt="">
                    </div>
                    <p class="name">Gamer 3</p>
                    <p class="number">365.2k</p>
                </div>
            </div>
        </div>

        <div class="background">
            <img src="../images/game4.jpg" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#282e2c" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
    </div>

</body>
</html>