<div class="user" [ngStyle]="{ width: isNavOpen ? '95vw' : '100vw' }">
  <div class="backdrop" #backdrop (click)="onBackdropClick()"></div>
  <div class="side-menu-toggle" #sideMenuToggle (click)="onSideMenuToggle()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="options" #options>
    <section>
      <div class="title">User Settings</div>
      <div class="settings">
        <span>My Account</span>
        <span>Privacy & Safety</span>
        <span>Password</span>
      </div>
    </section>
    <section>
      <div class="title">App Settings</div>
      <div class="settings">
        <span>Appearance</span>
        <span>Language</span>
        <span>Notifications</span>
      </div>
    </section>
    <section>
      <div class="logout" (click)="onLogout()">Logout</div>
    </section>
    <section>
      <div class="social-media">
        <a href="https://twitter.com/developtheweb_">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/manan.desai.1811/">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/webappdeveloper_/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <small class="other"> Get System details from node.js </small>
    </section>
  </div>
  <div class="option-detail">
    <section>
      <div class="title">My Account</div>
      <div class="details">
        <div class="avatar">
          <input type="file" class="file-input" name="file" #fileInput />
          <!-- <input class="fileInput-23-d-3" type="file" tabindex="0" multiple="" accept=".jpg,.jpeg,.png,.gif" aria-label="Change
Avatar" style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;/* opacity: 0; */cursor: pointer;"> -->
          <img [src]="user.profileUrl" alt="avatar" />
          <div class="menu" style="z-index: 1">
            <div class="menu-toggle-btn" (click)="onToggleAvatarOptions()">
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="menu-items" *ngIf="toggleAvatarOption">
              <span class="primary">Change Avatar</span>
              <span class="danger">Delete Avatar</span>
            </div>
          </div>
        </div>
        <div class="basic">
          <div class="username data">
            <div class="detail">
              <div class="title">Username</div>
              <div class="value">{{ user.username | titlecase }}</div>
            </div>
            <div class="edit">
              <button>Edit</button>
            </div>
          </div>
          <div class="Email data">
            <div class="detail">
              <div class="title">Email</div>
              <div class="value">
                {{ user.email.value }}
                <span
                  style="
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    font-size: 1rem;
                  "
                  [ngStyle]="{
                    color: user.email.verified ? '#43b581' : '#f04747'
                  }"
                >
                  <i
                    title="Verified"
                    *ngIf="user.email.verified"
                    class="fas fa-check-circle"
                  ></i>
                  <i
                    title="Not verified"
                    *ngIf="!user.email.verified"
                    class="fas fa-times-circle"
                  ></i>
                </span>
              </div>
            </div>
            <div class="edit" *ngIf="user.email.verified">
              <button>Edit</button>
            </div>
            <button
              *ngIf="!user.email.verified"
              class="button success-btn"
              type="button"
            >
              Verify Email
            </button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="title">Password</div>
      <div class="edit" style="margin-top: 0.5rem">
        <button>Change Password</button>
      </div>
    </section>
    <section>
      <div class="title">Two-factor authentication</div>
      <div class="switch">
        <div class="roller"></div>
      </div>
    </section>
    <section>
      <button style="margin-top: 2rem" type="button" class="button danger-btn">
        Delete Account
      </button>
    </section>
  </div>
</div>
