<div class="user" [ngStyle]="{ width: isNavOpen ? '90vw' : '100vw' }">
  <div class="options">
    <section>
      <div class="title">Use Settings</div>
      <div class="settings">
        <span>My Account</span>
        <span>Privacy & Safety</span>
        <span>Password</span>
      </div>
    </section>
    <section>
      <div class="title">App Settings</div>
      <div class="settings">
        <span>Appearance</span>
        <span>Language</span>
        <span>Notifications</span>
      </div>
    </section>
    <section>
      <div class="logout">Logout</div>
    </section>
    <section>
      <div class="social-media">
        <a href="https://twitter.com/developtheweb_">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/manan.desai.1811/">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/webappdeveloper_/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <small class="other"> Get System details from node.js </small>
    </section>
  </div>
  <div class="option-detail">
    <section>
      <div class="title">My Account</div>
      <div class="details">
        <img
          src="https://graph.facebook.com/1301556730193393/picture?type=normal"
          alt="DP"
        />
        <div class="basic">
          <div class="username">
            <div class="title">Username</div>
            <div class="value">Manan#7117</div>
          </div>
          <div class="Email">
            <div class="title">Email</div>
            <div class="value">manan5401desai@gmail.com</div>
          </div>
        </div>
        <div class="edit">
          <button>Edit</button>
        </div>
      </div>
    </section>
    <section>
      <div class="title">Two-factor authentication</div>
      <div class="switch">
        <div class="roller"></div>
      </div>
    </section>
  </div>
</div>
