.user {
  margin-left: 2rem;
  display: flex;
  align-items: flex-start;
  padding-left: 2rem;
  transition: width 400ms;
  z-index: 1;
}
.user .options,
.user .option-detail {
  padding-top: 2rem;
}
.user .options {
  /* overflow-y: scroll;
  overflow-x: hidden; */
  transition: all 400ms var(--animation-function);
}
.user .options section,
.user .options section .settings {
  display: flex;
  flex-direction: column;
  color: var(--light-white);
}
.user .side-menu-toggle {
  position: fixed;
  margin-top: 0;
  top: 0.5rem;
  left: 0.5rem;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background: var(--color-accent);
  color: var(--light-white);
  filter: drop-shadow(1);
  padding: 0.5rem;
  border-radius: 50%;
  display: none;
}
.user .options section {
  border-bottom: 1px solid var(--background-accent);
  padding: 1rem 0;
  margin-left: 4rem;
  cursor: pointer;
}
.user .options section .title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-grey);
  text-transform: uppercase;
}
.user .options section .settings *,
.user .options section .logout {
  padding: 0.4rem;
  border-radius: 5px;
}
.user .options section .settings *:hover {
  background: var(--interactive-muted);
}
.user .options.toggle-side-menu {
  transform: translateX(0);
}
.user .options section .logout {
  color: rgb(240, 71, 71);
}
.user .options section .logout:hover {
  background: rgba(240, 71, 71, 0.2);
}
.user .options section .social-media a {
  color: var(--light-white);
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
.user small {
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: 100;
  margin-top: 1rem;
}

.user .option-detail {
  flex: 1;
  height: 100vh;
  background: var(--background-primary);
  margin-left: 1rem;
  overflow-y: scroll;
  padding: 2rem;
}
.user .option-detail::-webkit-scrollbar-thumb {
  background: var(--interactive-muted);
  border-radius: 10px;
}
.user .option-detail::-webkit-scrollbar {
  background: var(--background-tertiary);
  width: 10px;
}
.user .option-detail section > .title {
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-white);
  letter-spacing: 1px;
}
.user .option-detail .details {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  background: var(--background-secondary);
  border-radius: 10px;
  width: 80%;
  margin-bottom: 1rem;
}
.user .option-detail .details img {
  height: 10vmax;
  width: 10vmax;
  border-radius: 50%;
}
.user .option-detail .details .basic {
  flex: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ddd;
}
.user .option-detail .details .basic .title {
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
}
.user .option-detail .details .edit button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: var(--color-accent);
  color: var(--light-white);
  cursor: pointer;
}
.user .option-detail .details .edit button:active {
  transform: scale(0.93);
  transition: transform 100ms;
}
.user .option-detail .switch {
  width: 60px;
  height: 30px;
  background: var(--background-tertiary);
  margin-top: 1rem;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 400ms;
}
.user .option-detail .switch.toggle-switch {
  background: var(--color-success);
  justify-content: flex-end;
  transition: all 400ms;
}
.user .option-detail .switch.toggle-switch .roller {
  left: 30px;
  background: var(--background-tertiary);
  transition: all 200ms;
}
.user .option-detail .switch .roller {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: gray;
  position: absolute;
  left: 0;
  transition: all 200ms;
  cursor: pointer;
}

.button {
  padding: 0.3rem;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: all 400ms;
}
.button:hover {
  color: var(--light-white);
  transition: all 400ms;
}
.success-btn {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}
.success-btn:hover {
  background: var(--color-success);
}
.danger-btn {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}
.danger-btn:hover {
  background: var(--color-danger);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: -1000;
  pointer-events: none;
  transition: all 400ms;
}
.backdrop-show {
  opacity: 1;
  z-index: 1000;
  transition: all 400ms;
  pointer-events: all;
}

@media (max-width: 900px) {
  .user .option-detail .details {
    flex-direction: column;
  }
  .user .option-detail .basic {
    margin: 0.5rem 0 !important;
  }
  .user .option-detail img {
    align-self: center;
  }
  .user .options section {
    margin-left: 1rem;
  }
}

@media (max-width: 700px) {
  .user .options section {
    margin-left: 0;
  }
  .user {
    padding-left: 0;
  }
  .user .option-detail .basic {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 600px) {
  .user .side-menu-toggle {
    display: flex;
    z-index: 100;
  }
  .user {
    width: 100vw;
    margin: 0;
  }
  *::-webkit-scrollbar {
    background: var(--background-primary) !important;
  }
  .user .options {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--background-tertiary);
    padding: 1rem;
    z-index: 100000;
    transform: translateX(-100vw);
    transition: all 400ms var(--animation-function);
  }
  .user .option-detail {
    padding-top: 3rem;
    margin: 0 auto;
    padding-left: 1rem;
  }
  .user .option-detail .details {
    width: 90vw;
  }
}
