.user {
  margin-left: 2rem;
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-left: 2rem;
}
.user .options,
.user .option-detail {
  padding-top: 2rem;
}
.user .options section,
.user .options section .settings {
  display: flex;
  flex-direction: column;
  color: var(--light-white);
}
.user .options section {
  border-bottom: 1px solid var(--background-accent);
  padding: 1rem 0;
  margin-left: 4rem;
  cursor: pointer;
}
.user .options section .title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-grey);
  text-transform: uppercase;
}
.user .options section .settings *,
.user .options section .logout {
  padding: 0.4rem;
  border-radius: 5px;
}
.user .options section .settings *:hover {
  background: var(--interactive-muted);
}

.user .options section .logout {
  color: rgb(240, 71, 71);
}
.user .options section .logout:hover {
  background: rgba(240, 71, 71, 0.2);
}
.user .options section .social-media a {
  color: var(--light-white);
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
.user small {
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: 100;
  margin-top: 1rem;
}

.user .option-detail {
  flex: 1;
  height: 100vh;
  background: var(--background-secondary);
  margin-left: 1rem;
  overflow-y: scroll;
  padding: 2rem;
}
.user .option-detail::-webkit-scrollbar-thumb {
  background: var(--interactive-muted);
  border-radius: 10px;
}
.user .option-detail::-webkit-scrollbar {
  background: var(--background-tertiary);
  width: 10px;
}
.user .option-detail section > .title {
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-white);
  letter-spacing: 1px;
}
.user .option-detail .details {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  background: var(--background-tertiary);
  border-radius: 10px;
  width: 80%;
  margin-bottom: 1rem;
}
.user .option-detail .details img {
  height: 10vmax;
  width: 10vmax;
  border-radius: 50%;
}
.user .option-detail .details .basic {
  flex: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ddd;
}
.user .option-detail .details .basic .title {
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
}
.user .option-detail .details .edit button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: var(--color-accent);
  color: var(--light-white);
  cursor: pointer;
}
.user .option-detail .details .edit button:active {
  transform: scale(0.93);
  transition: transform 100ms;
}
.user .option-detail .switch {
  width: 60px;
  height: 30px;
  background: var(--background-tertiary);
  margin-top: 1rem;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 400ms;
}
.user .option-detail .switch.toggle-switch {
  background: var(--color-success);
  justify-content: flex-end;
  transition: all 400ms;
}
.user .option-detail .switch.toggle-switch .roller {
  left: 30px;
  background: var(--background-tertiary);
  transition: all 200ms;
}
.user .option-detail .switch .roller {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: gray;
  position: absolute;
  left: 0;
  transition: all 200ms;
  cursor: pointer;
}
