<h3 class="data-title">Files</h3>
<div class="files">
  <div class="file" *ngFor="let file of files">
    <div class="file-preview">
      <img [src]="file.awsData.url" [alt]="file.name" />
    </div>
    <div class="file-detail">
      <div class="logo" style="margin-right: 1rem">
        <i
          [class]="
            checkFileType(file) ? checkFileType(file) : 'fas fa-file-alt'
          "
        ></i>
      </div>
      <div class="file-data">
        <div class="file-name">{{ file.name }}</div>
        <div class="edit" style="cursor: pointer">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
  </div>
</div>
