<h3 class="data-title">Files</h3>
<div class="files">
  <div class="file" *ngFor="let file of files" [title]="file.name">
    <div class="file-preview" (click)="onOpenFile(file)">
      <img
        *ngIf="
          file.fileType === 'jpg' ||
            file.fileType === 'jpeg' ||
            file.fileType === 'png' ||
            file.fileType === 'gif';
          else logo
        "
        [src]="file.awsData.url"
        [alt]="file.name"
      />
      <ng-template #logo>
        <ngx-doc-viewer
          [url]="file.awsData.url"
          [viewer]="checkFileViewer(file)?.viewer"
          class="preview"
        >
        </ngx-doc-viewer>
      </ng-template>
    </div>
    <div class="file-detail">
      <div class="logo">
        <i
          [class]="
            checkFileType(file) ? checkFileType(file) : 'fas fa-file-alt'
          "
        ></i>
      </div>
      <div class="file-data">
        <div class="file-name">{{ file.name }}</div>
        <div
          class="edit"
          style="cursor: pointer; padding: 0 0.5rem"
          (click)="onOpenFileSettings(file); isRename = false"
        >
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="file-display" *ngIf="openFile">
  <div
    class="file-backdrop"
    (click)="openFile = false; selectedFileUrl = ''"
  ></div>
  <!-- <iframe frameborder="0" [src]="selectedFileUrl"></iframe> -->
  <div class="open-file">
    <img
      *ngIf="selectedFileType.includes('image'); else iframe"
      [src]="selectedFileUrl"
      [alt]="'Image'"
    />
    <ng-template #iframe>
      <ngx-doc-viewer
        [url]="selectedFileUrl"
        [viewer]="selectedViewer"
        style="
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
      </ngx-doc-viewer>
    </ng-template>
  </div>
</div>
<form
  *ngIf="isRename"
  class="folder-form"
  [formGroup]="renameForm"
  (ngSubmit)="onRename()"
>
  <div *ngIf="message">
    <div class="errors-modal">
      <app-message-box [message]="message" [modal]="true"></app-message-box>
    </div>
  </div>
  <label>
    New name
    <input
      type="text"
      [placeholder]="selectedEditFile.name"
      name="name"
      formControlName="name"
      autofocus
    />
  </label>
  <div class="buttons">
    <button
      type="button"
      class="cancel"
      (click)="isRename = false; renameForm.reset()"
    >
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="isLoading || !renameForm.valid"
      class="primary"
    >
      <span *ngIf="!isLoading"> Rename </span>
      <app-loader *ngIf="isLoading"></app-loader>
    </button>
  </div>
</form>

<div class="edit-box" #editOption>
  <div
    class="close-btn"
    style="cursor: pointer"
    (click)="editOption.classList.remove('open')"
  >
    <i class="fas fa-times"></i>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="fas fa-user-plus"></i>
    </div>
    <div class="edit-name">Share</div>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="fas fa-link"></i>
    </div>
    <div class="edit-name">Get link</div>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="fas fa-copy"></i>
    </div>
    <div class="edit-name">Copy to</div>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="fas fa-copy"></i>
    </div>
    <div class="edit-name">Move to</div>
  </div>
  <div
    class="edit-option"
    (click)="isRename = true; editOption.classList.remove('open')"
  >
    <div class="edit-logo">
      <i class="fas fa-edit"></i>
    </div>
    <div class="edit-name">Rename</div>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="far fa-star"></i>
    </div>
    <div class="edit-name">Add to stared</div>
  </div>
  <div class="edit-option">
    <div class="edit-logo">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="edit-name">View details</div>
  </div>
  <div
    class="edit-option"
    (click)="
      onDownloadFile(); isRename = false; editOption.classList.remove('open')
    "
  >
    <div class="edit-logo">
      <i class="fas fa-download"></i>
    </div>
    <div class="edit-name">Download</div>
  </div>
  <div
    class="edit-option"
    style="color: var(--color-danger)"
    (click)="
      onDeleteFolder(); isRename = false; editOption.classList.remove('open')
    "
  >
    <div class="edit-logo">
      <i class="fas fa-trash"></i>
    </div>
    <div class="edit-name">Delete</div>
  </div>
</div>
