.no-data {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-accent);
  border-radius: 50%;
  height: 40vmax;
  width: 40vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-white);
}
.no-data svg {
  height: 40%;
  width: 40%;
}

.data {
  margin-left: 4rem;
  flex: 1;
  width: 100vw;
  padding: 3rem;
  overflow-y: auto;
}

@media (max-width: 699px) {
  .data {
    margin-left: 0;
    padding: 2rem;
  }
}
