.signUp {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    background: var(--light-white);
}
.signUp .form {
    border-radius: 10px;
    margin-top: 5px;
    width: calc(100% - 5rem);
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.form-input {
    margin-top: 0.5rem;
}
.form-input small {
    display: none;
}
.form-input small.danger {
    display: block;
    color: red;
}
.form-input input {
    padding:10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    transition: border 200ms cubic-bezier(.15,.3,.14,1.36);
}
.form-input input.danger {
    border-color: red;
}
.form-input input.success {
    border-color: #22a722;
}
.signUp .form button {
    margin-top: 0.6rem;
    padding: 1rem;
    background: var(--dark-blue);
    color: var(--light-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form button:hover {
    background: rgba(29, 29, 98, 0.6);
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form button:active {
    transform: scale(0.98);
    transition: all 400ms cubic-bezier(.15,.3,.14,1.36);
}
.signUp .form button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
.forms .help {
    position: absolute;
    top: 40px;
    right: 30px;
}
.password-format {
    display: inline-block;
    padding: 1rem;
    padding-top: 0.4rem;
}
.password-format .validation.success {
    color: #22a722;
    transition: all 400ms ease-in-out;
}
.password-format .validation.success .done {
    opacity: 1;
    transition: all 400ms ease-in-out;
}
.password-format .validation {
    display: flex;
    transition: all 400ms ease-in-out;
}
.password-format .validation .done {
    opacity: 0;
    color: #22a722;
}
.password-format small{
    display: block;
    flex: 1;
    margin-right: 0.5rem;
}
.card {
    border: none;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    width: 100%;
    transition: all 400ms;
    overflow: hidden;
    z-index: 1;
}
.card p {
    margin-left: 1rem;
}
.card span {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 2px;
}
.card:nth-of-type(1) {
    background: #fff;
}
.card:nth-of-type(2) {
    background: #3b5998;
    color: #eee;
}
.card::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -10px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 400ms;
}
.card:nth-of-type(2)::before {
    background: rgba(255, 255, 255, 0.2);
}
.card:active {
    transform: scale(0.95);
    transition: all 400ms;
}
.card:hover::before {
    transform: scale(1);
    transition: all 400ms;
    transform-origin: right;
}