<div class="intro">
    <div class="logo intro__data">
        <img src="../../../assets/logo/storage-logo-white.png" alt="Logo" class="logo__icon" />
        <p class="logo__name">Buckiee</p>
    </div>
    <div class="intro__title intro__data">
        Store Your Files , Download it , Share it and it's too easy
    </div>
    <div class="intro__description intro__data">
        Store files and see it's data and if you want it then simply download it and also you can share it with others with privacy and restrictions. 
    </div>
    <div class="intro__data">
        <a class="how-to-use-btn" href="#how-to-use">
            How To Use
        </a>
    </div>
</div>