<h3 class="data-title">Folders</h3>
<div class="folders">
  <a
    [routerLink]="['/cloud', 'folder', folder._id]"
    class="folder"
    *ngFor="let folder of folders"
  >
    <div class="logo" style="margin-right: 1rem">
      <i class="fas fa-folder"></i>
    </div>
    <div
      class="folder-data"
      style="
        flex: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
      "
    >
      <p>{{ folder.name }}</p>
      <div class="edit">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </a>
</div>
