<div class="other-options">
  <button class="card google" (click)="onSignUpWithSocialAccount('google')">
    <span class="icon">
      <img
        src="https://img.icons8.com/color/48/000000/google-logo.png"
        height="20"
      />
    </span>
    <p>SignUp with Google</p>
  </button>
  <button class="card facebook" (click)="onSignUpWithSocialAccount('facebook')">
    <span class="icon">
      <img
        src="https://img.icons8.com/color/48/000000/facebook-circled.png"
        height="22"
      />
    </span>
    <p>SignUp with Facebook</p>
  </button>
</div>
