.splash-screen {
    background-color: var(--splash-screen);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.splash-screen #logo {
    animation: fillSVG 1s ease-in-out 3s forwards;
}
.splash-screen svg > path:nth-of-type(1) {
    stroke-dasharray: 327;
    stroke-dashoffset: 327;
    animation: drawSVG 2s ease-in-out forwards;
}
.splash-screen svg > path:nth-of-type(2) {
    stroke-dasharray: 261;
    stroke-dashoffset: 261;
    animation: drawSVG 2s ease-in-out forwards 0.3s;
}
.splash-screen svg > path:nth-of-type(3) {
    stroke-dasharray: 216;
    stroke-dashoffset: 216;
    animation: drawSVG 2s ease-in-out forwards 0.6s;
}
.splash-screen svg > path:nth-of-type(4) {
    stroke-dasharray: 273;
    stroke-dashoffset: 273;
    animation: drawSVG 2s ease-in-out forwards 0.9s;
}
.splash-screen svg > path:nth-of-type(5) {
    stroke-dasharray: 165;
    stroke-dashoffset: 165;
    animation: drawSVG 2s ease-in-out forwards 1.2s;
}
.splash-screen svg > path:nth-of-type(6) {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
    animation: drawSVG 2s ease-in-out forwards 1.5s;
}
.splash-screen svg > path:nth-of-type(7) {
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
    animation: drawSVG 2s ease-in-out forwards 1.8s;
}
@keyframes drawSVG {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fillSVG {
    from {
        fill: transparent;
    }to {
        fill:var(--light-white);
    }
}