.menu-toggle {
  margin: 1rem 1rem 1rem 0;
  background: var(--background-tertiary);
  border-radius: 0 20px 20px 0;
  color: var(--light-white);
  font-size: 1.6vmax;
  padding: 0.3rem 0.8rem;
  position: fixed;
  top: 1.5rem;
  left: 0;
  transform: translateX(-15px);
  cursor: pointer;
  transition: all 400ms, transform 400ms ease-in-out 400ms;
}
.menu-toggle:hover {
  transform: translateX(0);
  transition: transform 400ms ease-in-out 400ms, all 400ms;
}
.menu-toggle svg {
  transition: all 400ms;
}
.toggle-move {
  transform: translateX(0);
  left: 75px;
  transition: all 400ms;
}
.toggle-move svg {
  transform: rotate(-180deg);
  transition: all 400ms;
}
.menu-toggle:hover svg {
  color: var(--color-accent);
  transition: all 400ms;
}
.side-menu .menu {
  transform: translateX(-75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 0px;
  background: var(--background-tertiary);
  transition: all 400ms, width 200ms ease-in-out 400ms;
  overflow-y: auto;
  overflow-x: hidden;
}
.side-menu .menu .logo {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: var(--light-white);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--background-secondary);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.side-menu .menu .logo:hover {
  border-radius: 20px;
  background: var(--color-accent);
  transition: all 200ms ease-in-out;
}
.side-menu .menu .logo.success {
  color: var(--color-success);
}
.side-menu .menu .logo.success:hover {
  color: var(--light-white);
  background-color: var(--color-success);
}
.side-menu .menu .logo.danger {
  color: var(--color-danger);
}
.side-menu .menu .logo.danger:hover {
  color: var(--light-white);
  background-color: var(--color-danger);
}
.middle {
  margin: 1rem 0;
  flex: 1;
  border-top: 3px solid var(--background-primary);
  border-bottom: 3px solid var(--background-primary);
}
.menu.menu-move {
  width: 75px;
  transform: translateX(0px);
  transition: all 400ms, width 100ms;
}
.menu .item {
  position: relative;
}
.menu .item .title {
  position: absolute;
  background: var(--background-primary);
  white-space: nowrap;
  padding: 0.15rem;
  border-radius: 2px;
  color: var(--light-white);
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
.menu .item:hover .title {
  opacity: 0;
  transition: opacity 200ms;
}
.menu .item {
  position: relative;
}
.menu .item.selected .logo {
  background: var(--color-accent);
  position: relative;
}
.menu .item::before {
  content: "";
  position: absolute;
  width: 10px;
  left: -18px;
  background: var(--light-white);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 10px 10px 0;
  transition: all 400ms;
}
.menu .item.selected::before {
  height: 40px !important;
  transition: all 400ms;
}
.menu .item:hover::before {
  height: 10px;
  transition: all 400ms;
}
.small-screen {
  display: none;
}
.add-btn {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 4rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-success);
  color: var(--light-white);
  border-radius: 50%;
}
.small-menu {
  background: var(--background-tertiary);
  color: var(--light-white);
  position: fixed;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
}
.small-menu .item .title {
  display: none;
}
.small-menu .item.selected .title {
  display: block;
}
.small-menu .item.selected {
  color: var(--color-accent);
}

.add-menu {
  position: fixed;
  bottom: 2rem;
  left: 80px;
  background: var(--background-tertiary);
  color: var(--light-white);
  padding: 0.2rem;
  border-radius: 5px;
  transition: all 200ms;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
}
.add-menu .add-item {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0;
}
.add-menu .add-item:hover {
  background: var(--color-success);
  border-radius: 5px;
  transition: all 200ms;
}

.add-menu.open {
  transform: scaleY(1);
  opacity: 1;
  transform-origin: bottom;
}
.add-menu.open .add-item {
  opacity: 1;
}

.form {
  position: absolute !important;
  top: 50%;
  left: 50%;
  z-index: 100000000;
  opacity: 1;
  transform: translate(-50%, -50%);
  background: var(--background-primary);
  padding: 2rem;
  color: var(--header-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  width: 90vw;
  max-width: 500px;
}
.form label {
  margin: 1rem 0 0;
  color: var(--text-muted);
  font-weight: bold;
}
.form label input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: var(--background-secondary);
  border-radius: 5px;
  border: 1px solid var(--background-tertiary);
  color: var(--header-primary);
  transition: all 600ms;
}
.form label input:focus {
  border-color: var(--color-accent);
  transition: all 600ms;
}
.form .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form .buttons button {
  cursor: pointer;
  color: var(--header-primary);
}
.form .buttons .cancel {
  background: transparent;
  border: none;
}
.form .buttons .primary {
  background: var(--color-accent);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}
.form .buttons .primary:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}
.form label input.ng-invalid.ng-touched {
  border-color: var(--color-danger);
}
.errors-modal {
  z-index: 100000000000;
  pointer-events: none;
}

@media (max-width: 600px) {
  .big-screen {
    display: none;
  }
  .small-screen {
    display: block;
  }
  .add-menu {
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 100000000000;
    text-align: center;
    transform: translateY(100%);
  }
  .add-menu .add-item + .add-item {
    padding: 1rem;
    border-top: 1px solid var(--background-primary);
  }
  .add-menu + div {
    right: 10px;
    top: 10px;
  }
  .add-menu.open {
    transform: translateY(1);
    opacity: 1;
  }
}
