<div class="big-screen">
  <div class="side-menu">
    <div class="menu-toggle toggle-move" #menuToggle (click)="onMenuToggle()">
      <i class="fas fa-angle-double-right"></i>
    </div>
    <div class="menu menu-move" #menu>
      <div class="top section">
        <a routerLink="/cloud">
          <div
            class="item"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="logo">
              <i class="fas fa-home"></i>
            </div>
            <div class="title">Home</div>
          </div>
        </a>
        <a routerLink="setting">
          <div
            class="item"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="logo">
              <i class="fas fa-user"></i>
            </div>
            <!-- <div class="title">{{ user?.username?.charAt(0) }}</div> -->
            <div class="title">User</div>
          </div>
        </a>
      </div>
      <div class="middle section">
        <div class="item">
          <div class="logo">All</div>
          <div class="title">All files</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-file-pdf"></i>
          </div>
          <div class="title">Pdfs</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-music"></i>
          </div>
          <div class="title">Songs</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-file-word"></i>
          </div>
          <div class="title">Word files</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-video"></i>
          </div>
          <div class="title">Videos</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-file-image"></i>
          </div>
          <div class="title">Images</div>
        </div>
        <div class="item">
          <div class="logo">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="title">Other Files</div>
        </div>
      </div>
      <div class="bottom section upload-btn">
        <div class="item" (click)="onOpenUploadOption()">
          <div class="logo success">
            <i class="fas fa-plus"></i>
          </div>
          <div class="title">Add or create file/folder</div>
        </div>
        <div class="item" (click)="onLogout()">
          <div class="logo danger">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <div class="title">Logout</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="small-screen">
  <div class="small-menu">
    <a
      routerLink="/cloud"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item"
    >
      <div class="logo">
        <i class="fas fa-home"></i>
      </div>
      <div class="title">Home</div>
    </a>
    <a href="#" routerLinkActive="selected" class="item">
      <div class="logo">
        <i class="fas fa-folder"></i>
      </div>
      <div class="title">Folders</div>
    </a>
    <a href="#" routerLinkActive="selected" class="item">
      <div class="logo">
        <i class="fas fa-file"></i>
      </div>
      <div class="title">Files</div>
    </a>
    <a routerLink="setting" routerLinkActive="selected" class="item">
      <div class="logo">
        <i class="fas fa-user"></i>
      </div>
      <div class="title">User</div>
    </a>
  </div>
  <div class="add-btn" style="cursor: pointer" (click)="onOpenUploadOption()">
    <i class="fas fa-plus"></i>
  </div>
</div>
<div class="add-menu" #addMenu>
  <div
    (click)="onOpenUploadOption()"
    style="position: absolute; top: 3px; right: 5px; cursor: pointer"
  >
    <i class="fas fa-times"></i>
  </div>
  <div class="add-item" (click)="isCreateFolder = true; onOpenUploadOption()">
    <i class="fas fa-folder-plus" style="margin-right: 0.2rem"></i>
    <span> Create folder </span>
  </div>
  <div class="add-item" (click)="fileInput.click(); onOpenUploadOption()">
    <i class="fas fa-file-upload" style="margin-right: 0.2rem"></i>
    <span> File upload</span>
  </div>
  <div class="add-item" (click)="folderInput.click(); onOpenUploadOption()">
    <i class="fas fa-upload" style="margin-right: 0.2rem"></i>
    <span> Folder upload</span>
  </div>
</div>
<input
  type="file"
  class="file-input"
  name="file"
  tabindex="0"
  (change)="onFileUpload($event.target.files); fileInput.value = ''"
  #fileInput
  style="opacity: 0; pointer-events: none; position: fixed; top: 0"
/>
<input
  type="file"
  name="folder"
  id="folder"
  webkitdirectory
  mozdirectory
  msdirectory
  odirectory
  directory
  multiple
  (change)="onFileUpload($event.target.files)"
  #folderInput
  style="opacity: 0; pointer-events: none; position: fixed; top: 0"
/>
<form
  *ngIf="isCreateFolder"
  class="folder-form"
  [formGroup]="folderNameForm"
  (ngSubmit)="onCreateFolder()"
>
  <div *ngIf="message">
    <div class="errors-modal">
      <app-message-box [message]="message" [modal]="true"></app-message-box>
    </div>
  </div>
  <label>
    Folder name
    <input type="text" autofocus name="name" formControlName="name" />
  </label>
  <div class="buttons">
    <button
      type="button"
      class="cancel"
      (click)="isCreateFolder = false; folderNameForm.reset()"
    >
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="isLoading || !folderNameForm.valid"
      class="primary"
    >
      <span *ngIf="!isLoading"> Create </span>
      <app-loader *ngIf="isLoading"></app-loader>
    </button>
  </div>
</form>
