.error {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: rgba(240, 71, 71, 0.8);
  border: 1px solid rgb(240, 71, 71);
  color: var(--light-white);
  /* color: rgb(240, 71, 71); */
  margin: 0.5rem 0;
  width: min(300px, 70vw);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
