<div class="folder-data">
  <h2 class="folder-name">
    <a
      [routerLink]="
        folder.location === 'root'
          ? ['/cloud']
          : ['/cloud', 'folder', folder.location]
      "
    >
      <i class="fas fa-arrow-left" style="color: var(--text-link)"></i>
    </a>
    {{ folder.name | uppercase }}
  </h2>
  <div *ngIf="!(folder.files.length || folder.folders.length); else folderData">
    <app-no-data></app-no-data>
  </div>
  <ng-template #folderData>
    <div class="data" style="margin-bottom: 1rem">
      <app-folders
        *ngIf="folder.folders.length"
        [folders]="folder.folders"
        [location]="folder.id"
      ></app-folders>
      <app-files *ngIf="folder.files.length" [files]="folder.files"></app-files>
    </div>
  </ng-template>
</div>
