<footer>
  <div class="top">
    <div class="about">
      <h1 class="title">Your Place to Store</h1>
      <div class="social">
        <a href="https://twitter.com/developtheweb_" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/webappdeveloper_/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/manan.desai.1811/" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
    <div class="more">
      <div class="sec1">
        <div class="title">Support</div>
        <div class="data__content">
          <p>Help Center</p>
          <p>Contact Us</p>
          <p>Chat with Us</p>
        </div>
      </div>
      <div class="sec2">
        <div class="title">Resources</div>
        <div class="data__content">
          <p>About</p>
          <p>Privacy Policy</p>
          <p>FAQs</p>
          <p>Terms And Condition</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div>
      <img src="../../../../assets/logo/storage-logo-white.png" alt="Logo" />
      Buckiee
    </div>
    <a routerLink="/signup">Open Buckiee</a>
  </div>
</footer>
