<footer>
    <div class="data">
        <div class="logo data__title">
            <img src="../logo/storage-logo-white.png" alt="Logo" class="logo__icon" />
            <p class="logo__name">Buckiee</p>
        </div>
        <div class="data__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatem magnam repellat distinctio assumenda voluptas alias voluptates reiciendis iste corrupti.
        </div>
    </div>
    <div class="data">
        <div class="data__title">
            Support
        </div>
        <div class="data__content">
            <p>Help Center</p>
            <p>Contact Us</p>
            <p>Chat with Us</p>
        </div>
    </div>
    <div class="data">
        <div class="data__title">
            More
        </div>
        <div class="data__content">
            <p>About Us</p>
            <p>Privacy Policy</p>
            <p>FAQs</p>
            <p>Terms And Condition</p>
        </div>
    </div>
</footer>