html {
  overflow: hidden;
}
.login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
  background: var(--background-primary);
  color: var(--light-white);
}
.login {
  width: calc(100% - 2rem);
  max-width: 500px;
}
button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background: var(--color-accent);
  color: #eee;
  cursor: pointer;
  transition: all 400ms;
}
button:hover {
  background: rgba(114, 136, 218, 0.8);
  transition: all 400ms;
}
button:active {
  transform: scale(0.9);
  transition: all 400ms;
}
button:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}
.password-input {
  position: relative;
}
.eyes {
  position: absolute;
  top: 38px;
  right: 15px;
}
.eyes .close {
  display: none;
  pointer-events: none;
}
.eyes .open {
  display: inline;
  pointer-events: none;
}
.eyes.hide .open {
  display: none;
}
.eyes.hide .close {
  display: inline;
}
.other-options {
  width: 70%;
}

@media (max-width: 850px) {
  .other-options {
    width: 100%;
  }
}
