<div class="login-form">
  <h1>Login</h1>
  <form
    class="form login"
    id="signUp-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit($event)"
  >
    <div class="form-input">
      <label for="email"> Email </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        required
        (input)="onInput($event)"
        formControlName="email"
        #emailInput
      />
    </div>
    <button
      *ngIf="!isEmailExist"
      [disabled]="!loginForm.get('email').valid || isLoading"
      class="next-btn"
      type="button"
      (click)="checkEmailExist()"
      style="display: flex; align-items: center; justify-content: center"
    >
      <span *ngIf="!isLoading"> Next </span>
      <app-loader *ngIf="isLoading"></app-loader>
    </button>
    <div *ngIf="isEmailExist">
      <div class="form-input password-input">
        <label for="name"> Password </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your Password"
          required
          #passwordInput
          (input)="onInput($event)"
          formControlName="password"
        />
        <a routerLink="/login" style="font-size: 0.8rem"
          >Forgot your password?</a
        >
        <div class="eyes" (click)="showHide($event)">
          <i class="fas fa-eye open" title="Show Password"></i>
          <i class="fas fa-eye-slash close" title="Hide Password"></i>
        </div>
      </div>
      <button id="signUpBtn" type="submit" disabled #submitBtn>Login</button>
    </div>
  </form>
  <h4>
    Need an Account?
    <a routerLink="/signup">signup</a>
  </h4>
  <div class="other-options">
    <app-social-button style="width: 100%"></app-social-button>
  </div>
</div>
<div *ngIf="errorMessage">
  <div class="errors-login" *ngIf="errorMessage[0]?.msg; else error">
    <app-error-box
      [errorMessage]="error.msg"
      *ngFor="let error of errorMessage"
    ></app-error-box>
  </div>
  <ng-template #error>
    <div class="errors-login">
      <app-error-box [errorMessage]="errorMessage"></app-error-box>
    </div>
  </ng-template>
</div>
